.card {
  width: 100%;
  max-width: 400px;
  border: 1px solid white;
}

.cardHeader {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid white;
}

.cardBody {
  padding: 10px;
}