$is:493px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;

@mixin min($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
